@use "../global" as *;
/*=======================================
  共　通
=======================================*/
// レスポンシブ
.sp {
  display: none;
  @include mq(md) {
    display: block;
  }
}
.pc {
  @include mq(md) {
    display: none;
  }
}
// 全体レイアウト
#container > article  {
  max-width: 767px;
  margin-right:auto;
  margin-left:auto;
  box-shadow: 0 0 8px rgba($color: #000, $alpha: 0.5);
}
.wrapper {
  width: 100%;
  background-color: var(--DFC-BLUE);
}
@media screen and (max-width:767px) {
  #container > article  {
    box-shadow: none;
  }
}
// header
header .cta_head_bt{
	position: fixed;
	top:20px;
	right:25px;
	z-index: 500;
}
header .cta_head_bt img{
	width: 240px;
	height: auto;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
// 画像設定
.pic {
  max-width: 864px;
  margin-right:auto;
  margin-left:auto;
}
.pic img {
  width: 100%;
}
// 背景
.bg_gray {
  background-color: #e4e6ef;
}
.bg_light_gray {
  background-color: #eef2fc;
}
.bg_gradation_purple {
  background: linear-gradient(101deg, #e1e6f9 0%, #f0e3fd 100%);
  background: linear-gradient(101deg, rgba(225, 230, 249, 0.33) 0%, rgba(240, 227, 253, 0.33) 100%);
}
.bg_purple_image {
  background-image: url(../img/bg-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// カラー
.text-color-blue {
  color: #4e73ee;
}
// フォントスタイル
.f-yu_mincho {
  font-family: "Yu Mincho", "游明朝", serif;
}
// 非表示設定
.display-none {
  display: none !important;
}
// 余白
.m-t-20 {
  margin-top: 20px;
}
.p-t-20 {
  padding-top: 20px;
}
// コンバージョン
// LINE 
.pic-line {
  position: relative;
}
.pic-line > a {
  position: absolute;
  display: block;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 22%;
  z-index: 1;
}
// 動画
.movie {
  max-width: 90%;
  width: 100%;
  margin-right:auto;
  margin-left:auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.movie > * {
  width: 100%;
  aspect-ratio: 660 / 440;
}