@use "../global" as *;
/* =========================================
CTA
========================================= */
.cta {
  position: relative;
}
.cta_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  width: 75%;
}
.pic32 .cta_btn {
  bottom: auto;
  top: 35%;
  width: 85%;
}