@use "../global" as *;
/* =========================================
メインCSS
========================================= */
.pic17 .pic {
  max-width: 80%;
  margin-right:auto;
  margin-left:auto;
}
.pic23,
.pic28 {
  position: relative;
}
.pic23 .movie {
  bottom: 11%;
}
.pic28 .movie {
  bottom: 7%;
}