@use "../global" as *;
/* =========================================
メインCSS
========================================= */
.pic23,
.pic28 {
  position: relative;
}
.pic23 .movie {
  bottom: 18%;
}
.pic28 .movie {
  bottom: 10%;
}